*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000000;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: auto;
    font-size: 1.75vw;
    padding: 1.5% 1.5%;
}
/* 
.nav-links
{
    list-style-type: none;
    display: flex;
    align-items: center;
} */

nav ul
{
    display: flex;
    margin-left: 5%;
    width: 100%;
    padding: 0 10%;
}

nav ul li{
    flex: 1;
    list-style: none;
    padding: 0 1% 0 1%;
    margin: 0 1% 0 1%;
    /* width: 10%; */
}

nav ul li a{
    text-decoration: none;
    color: #c310cc;
    font-weight: bold;
    /* padding: 0 10%; */
}

/* .separator { */
    /* padding: 0 100%;  */
    /* Adjust spacing around the separator as needed */
/* } */

nav ul li a:hover{
    color: #ffffff;
    text-shadow: 0 0 10px #c310cc, 0 0 20px #c310cc, 0 0 40px #c310cc, 0 0 80px #c310cc, 0 0 160px #c310cc;
}

.detail{
    margin-left: 8%;
    margin-right: 15%;
}

.detail h1{
    font-size: 3vw;
    color: #ffffff;
    margin: 5% 0 1% 0;
    width: fit-content;
}

/* .detail h1:hover
{
    color: #ffffff;
    text-shadow: 0 0 10px #c310cc, 0 0 20px #c310cc, 0 0 40px #c310cc, 0 0 80px #c310cc, 0 0 160px #c310cc;
} */

.detail h2
{
    color: #c310cc;
    font-size: 2vw;
    margin: 0 0 1% 0;
    width: fit-content;
}

.detail h2:hover
{
    color: #ffffff;
    text-shadow: 0 0 10px #c310cc, 0 0 20px #c310cc, 0 0 40px #c310cc, 0 0 80px #c310cc, 0 0 160px #c310cc;
}

span{
    color: #ffff;
}

.detail p{
    color: #ffff;
    line-height: 0.22vw;
    margin: 2% 0 1% 0;
}

.detail a{
    background: #c310cc;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.detail a:hover
{
    text-shadow: 0 0 10px #c310cc, 0 0 20px #c310cc, 0 0 40px #c310cc, 0 0 80px #c310cc, 0 0 160px #c310cc;
}

.logo:hover
{
    text-shadow: 0 0 10px #c310cc, 0 0 20px #c310cc, 0 0 40px #c310cc, 0 0 80px #c310cc, 0 0 160px #c310cc;
}

.etehereum-logo:hover
{
    background-image: url("images/Ethereum-White.png");
}